.NavBar{
  background-color:#ccccff;
  border-color: white;
  height: 55px;

}

#logo{
  width:  80px;
  opacity: 0.88;
  padding: 2
}


.socialTitle{
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.NavItem{
  padding-top: 27px;
  padding-right: 4rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 22px;


}

body{
  background-color: #ffcccc;
}

.Bio{
  
  border-radius: 3px;
  background-color:#ccccff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 19px;
  

}

.outerBorder{
  padding-top: 80px;

}

.Para{
  padding:15px;
}

#ShayannePic{
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  width: 275px;
  margin-right: 44px;
  border-color: white;
 
 
  
}

#dogPic{
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  width: 275px;
  margin-right: 44px;
  border-color: white;
  object-fit: cover;
 

}

#shywithcamPic{
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  width: 275px;
  margin-right: 44px;
  border-color: white;
  object-fit: cover;
 

}

#imgdiv{
  justify-content: center;
  margin:0 auto;
}

.Card{
  border-radius: 10px;
  background-color:#ccccff;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 900;
  font-size: 19px;
 
  
  

}



.cardTitle{
  color: white;
  font-weight: 900;
}

.Carddd{
  width:475px

}